<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASK Three</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        {{>header}}
        <div class="content">
            <div class="banner">
                <h1 class="banner-title">{{title}}</h1>
            </div>
            <section>
                <h2>Discover Us</h2>
                <div class="card">
                    <div class="card-container">
                        <div class="left"></div>
                        <div class="right" style="color: #000;">
                            My father, brother and I visited West Point to see a football game between Army and Boston College. Taking a stroll before kickoff, we met many cadets in neatly pressed uniforms. Several visting fans asked the recruits if they would pose for photographs, "to show our son what to expect if he should attend West Point."One middle-aged couple approached a very attractive female cadet and asked her to pose for a picture. They explained,
                            "We want to show our son what he missed by not coming to West Point.
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {{>footer}}
    </div>
</body>

</html>