<footer>
            <div class="container-footer">
                <div class="child-footer">
                    <img class="image" src="images/logo.png" />
                    <p class="desc">An internationally recognized, full-service law firm with specialization in commercial, arbitration, civil, criminal, family, injunctive and supreme court matters.</p>
                    <p class="address">Mansoura: 11 Ahmed Megahed Street - New Toril</p>
                    <p class="phone">01016568015</p>
                    <p class="email">reemhelmy28@gmail.com</p>
                </div>
                <div class="child-footer services">
                    <h3>Services</h3>
                    <ul>
                        <li>Front End</li>
                        <li>Back End</li>
                        <li>Full Stack</li>
                    </ul>
                </div>
                <div class="child-footer">
                    <h3>Discover</h3>
                    <ul>
                        <li>Cookies</li>
                        <li>who are we</li>
                        <li>privacy policy</li>
                        <li>Properties</li>
                        <li>licenses</li>
                    </ul>
                </div>
                <div class="child-footer">
                    <h3>Subscribe us</h3>
                    <p>Enter your Email and subscribe to all that is new with us</p>
                    <div class="form">
                        <input type="email" class="input" placeholder="your email">
                        <input type="submit" value="subscribe" class="btn"/>
                    </div>
                </div>
            </div>
</footer>